.comment {
  color: var(--color-white);
}
@media screen and (max-width: 415px) {
  .header__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--theme-default-header);
    font-family: var(--font-family-main);
  }
}
